@use "variables" as *;

//Utility Mixins
@mixin breakpointAbove($breakpoint) {
    @media (min-width: ($breakpoint)) {
        @content;
    }
}
@mixin breakpointBelow($breakpoint) {
    @media (max-width: ($breakpoint - 1px)) {
        @content;
    }
}

//Compontent Mixins

//Buttons
@mixin buttonBase {
    appearance: none;
    -webkit-appearance: none;
    background-color: $grey-500;
    border: none;
    border-radius: $borderRadiusSmall;
    color: $grey-300;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.875rem;
    padding: 8px 16px;
    transition: $transitionDefault;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    svg path{fill: $grey-300;}
}

@mixin buttonPrimary {
    @include buttonBase;
}