@import "styles/variables.scss";
@import "styles/mixins.scss";

//Global Styles
html{
    background-color: $backgroundPrimary;
    color: $fontColorLight;
    font-size: 16px;
}

body{
    position: relative;
    margin: 0;
}

main{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 48px;
    flex-grow: 1;
    //margin-top: 72px;
    @include breakpointAbove($breakpointTablet){
        //margin-left: 214px;
    }
    @include breakpointAbove($breakpointDesktopSmall){
        //margin-top: 0;
        //margin-left: 278px;
    }
}

a{
    color: $fontColorLight; 
}

.btn-primary{
    @include buttonPrimary;
}
.bt_active{
    @include buttonPrimary;
}
.bt_disabled{
    @include buttonBase;
    color: $grey-400;
    cursor: auto;
    &.button__prev{
        opacity: 0;
    }
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

//Browser Resets
input, textarea, select, button {
    font-family: inherit;
}

//Flexbox Layout
.flex{
    display: flex;
    &.justify-content{
        justify-content: space-between;
    }
}